body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}

footer {
    background-color: #0B0D17;
    text-align: center;
    padding: 2%;
    font-size: 13px;
}

.be-humble {
    font-family: 'Splash', cursive;
    font-size: 30px;
    color: #FF5959;
}

#section1 {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.738)), url(donate-today-main/images/donation8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h3 {
    color: white;
    font-size: 70px;
    text-align: center;
}

.button {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 500;
    background-color: #FF5959;
    border-radius: 10%;
    padding: 10px 35px;
    width: 50%;

}

.pad {
    padding: 20%;
    text-align: center;
}