body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}

footer {
    background-color: #0B0D17;
    text-align: center;
    padding: 2%;
    font-size: 13px;
}

.be-humble {
    font-family: 'Splash', cursive;
    font-size: 30px;
    color: #FF5959;
}

input[type=text] {
    width: 50%;
    border: none;
    border-bottom: 2px solid gray;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-top: 5%;

}

#section1 {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.738)), url(donate-today-main/images/donation8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


h3 {
    color: white;
    font-size: 70px;
    text-align: center;
}

h4 {
    font-size: 50px;
    text-align: center;
}

.button {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 500;
    background-color: #FF5959;
    border-radius: 10%;
    padding: 10px 35px;

}

.pad {
    padding: 20%;
    text-align: center;
}

.flex {
    display: flex;
}

.box {
    background-color: rgb(238, 238, 238);
    padding: 30px;
    color: gray;
    width: 20%;
    border-width: 5px;
    border-radius: 10px;
    text-align: center;
    border-style: solid;
    border-color: white;
    font-weight: 700;
}